@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

p {
  font-family: "Overpass";
}

ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
}
ul li {
  color: white;
}

body {
  background: linear-gradient(to top, #c20b17 0%, #453a94 100%);
  background-size: cover;
}

@media (min-width: 576) {
  .carrusel img {
    height: 250px;
  }
}
@media (max-width: 997px) {
  .nav-horizontal {
    display: none;
  }
  .carrusel img {
    height: 180px;
  }
}
@media (min-width: 998px) {
  .menu-desplegable {
    display: none;
  }
  .contenedor {
    display: none;
  }
  .logo-titulo {
    height: 190px;
  }
  .encabezado {
    height: 250px;
  }
}
.registro {
  text-align: end;
  color: white;
}

.dropdown-toggle {
  font-size: small;
}

.navegador-largo {
  background-color: black;
  text-align: center;
}
.navegador-largo ul li {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  font-family: "Overpass";
  font-size: x-large;
}

.encabezado {
  background-color: hsla(0deg, 1%, 65%, 0.502);
}

.contenedor-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsla(0deg, 1%, 65%, 0.498);
  background-size: cover;
}

.logo-titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-titulo .logo {
  width: 100px;
  height: 100px;
  mix-blend-mode: multiply;
}
.logo-titulo .titulo-encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Splash";
}
@media (min-width: 700px) {
  .logo-titulo .titulo-encabezado {
    font-size: 4rem;
  }
}

/* -----footer----- */
.foot {
  background-color: black;
  height: 180px;
  margin-top: 40px;
}
.foot .titulo-foot {
  margin: 20px;
  color: white;
}
.foot .redes a i {
  text-decoration-color: white;
  color: white;
  font-size: 3rem;
}

/* -----fin footer */
@media (min-width: 576) {
  .carrusel img {
    height: 250px;
  }
}
@media (max-width: 997px) {
  .nav-horizontal {
    display: none;
  }
  .registro {
    display: none;
  }
  .carrusel img {
    height: 180px;
  }
}
@media (min-width: 998px) {
  .menu-desplegable {
    display: none;
  }
  .contenedor {
    display: none;
  }
  .logo-titulo {
    height: 190px;
  }
  .titulo-encabezado {
    font-size: 4rem;
  }
  .encabezado {
    height: 300px;
  }
}
/* -----botones de productos index---- */
.contenedor-titulo {
  display: flex;
  justify-content: center;
}
.contenedor-titulo .titulo-productos {
  text-align: center;
  font-family: "Overpass";
  font-size: 2.5rem;
  color: white;
  margin: 40px;
  border: solid 2px;
  border-radius: 15px;
  box-shadow: 5px 2px 2px;
}

/*------------------- bloque slogan e imagen ------------*/
.bloque-portada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.bloque-portada .contenido {
  color: white;
  text-align: center;
  font-family: lato;
  max-width: 600px;
}
.bloque-portada .triatlon img {
  width: 100%;
  max-width: 600px;
  min-height: 150p;
}

@media (max-width: 680px) {
  .contenido h3 {
    font-size: medium;
  }
  .contenido h3 h2 {
    font-size: medium;
  }
}
@media (min-width: 960px) {
  .bloque-portada {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
/*-------------  tamaño de carrusel----------*/
.carrusel img {
  margin-top: 40px;
  width: 100%;
  height: 400px;
}

.carousel-indicators {
  margin-bottom: 0%;
}

.carousel-caption {
  padding-bottom: 0%;
}
.carousel-caption p {
  margin-bottom: 0%;
  font-weight: 300;
}
.carousel-caption h2 {
  margin-bottom: 0%;
  font-weight: 400;
}

@media (max-width: 400px) {
  .carousel-caption {
    font-size: x-small;
  }
}
@media (max-width: 997px) {
  .carrusel img {
    height: 180px;
  }
}
/*-------diseño seccion cuotas------*/
.cuotas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: grey;
  width: 310px;
  height: 100px;
  color: white;
  margin: 20px;
}
.cuotas .numero h2 {
  font-size: 5rem;
  padding: 0%;
  margin: 0%;
}

.informacion {
  text-align: center;
  font-family: "lato";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.informacion .info-1 {
  font-size: 1.7rem;
  font-weight: 100;
  margin: 0;
  padding: 0%;
}
.informacion .info-2 {
  font-size: 1rem;
  padding: 0%;
  font-weight: 400;
  margin: 0%;
}
.informacion .info-3 {
  font-size: 0.7rem;
  font-weight: 100;
  padding: 0%;
  margin: 0%;
}
.informacion .info-4 {
  font-size: 2rem;
  margin: 0%;
}

.icono-cuotas {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
}

.variables {
  text-align: center;
}
.variables p {
  margin: 0%;
}

.contenedor-cuotas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*-----------------------diseño indice ----------------*/
.centrado-opciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-opciones {
  position: relative;
  display: inline-block;
  margin: 10px;
}
.contenedor-opciones img {
  width: 100%;
  height: 100%;
  max-width: 310px;
  height: 310px;
  opacity: 0.7;
}
.contenedor-opciones img:hover {
  opacity: 1;
  transition: 0.3s;
}
.contenedor-opciones:hover p {
  transform: scale(1.1);
  transition: 0.3s;
}

.texto-encima {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.texto-encima p {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: white;
}

@media (min-width: 1200px) {
  .contenedor-opciones img {
    min-width: 500px;
    height: 500px;
  }
}
/*--------------------bloque historia--------------------*/
.titulo-quienes {
  text-align: center;
  font-family: "Overpass";
  font-size: 2.5rem;
  color: white;
  margin: 40px;
  border: solid 2px;
  border-radius: 15px;
  box-shadow: 5px 2px 2px;
}

body {
  font-family: "Overpass";
}

.titulo-2 {
  text-align: center;
  font-family: "Overpass";
  font-size: 2.5rem;
  color: white;
  margin: 40px;
  border: solid 2px;
  border-radius: 15px;
  box-shadow: 5px 2px 2px;
}

.taza {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taza img {
  width: 100%;
  max-width: 400px;
}

.historia p {
  text-align: left;
  margin: 10px;
  padding: 10px;
}

@media (min-width: 900px) {
  .historia p {
    text-align: center;
    font-size: large;
  }
}
.parrafo-1 {
  text-align: center;
  color: white;
  padding: 24px;
  padding-top: 0;
}

.parrafo-2 {
  text-align: center;
  color: white;
  padding: 24px;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.video iframe {
  width: 100%;
  max-width: 560px;
}

@media (max-width: 560px) {
  .video iframe {
    height: 200px;
  }
}
/*---------------------------galeria 1---------------------*/
.galeria-1 img {
  border-radius: 15px;
}

.presentacion {
  background-color: rgba(248, 249, 250, 0.3882352941);
  border-radius: 15px;
  font-family: "Overpass";
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  max-width: 400px;
  min-height: 180px;
}
.presentacion h3 {
  font-size: 1.5rem;
}
.presentacion p {
  font-size: 1rem;
}

.presentacion:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.alineacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.felt-roja, .cervelo, .felt-azul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.felt-roja:hover img, .cervelo:hover img, .felt-azul:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
.felt-roja img, .cervelo img, .felt-azul img {
  max-height: 420px;
  width: 100%;
  max-width: 600px;
}

.trabajo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.trabajo:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
.trabajo img {
  width: 100%;
  max-width: 600px;
  margin: 10px;
}

.desarme {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.desarme:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
.desarme img {
  max-height: 410px;
  width: 100%;
  max-width: 1040px;
}

@media (min-width: 970px) {
  .desarme {
    margin: 15px;
  }
  .desarme img {
    width: 100%;
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .desarme img {
    max-width: 1000px;
  }
}
/*------------------------------galeria-2------------------------------*/
.galeria-2 img {
  border-radius: 15px;
}

.m-roja, .violeta, .rojo, .colage, .c-blanco, .c-verde {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.m-roja:hover img, .violeta:hover img, .rojo:hover img, .colage:hover img, .c-blanco:hover img, .c-verde:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
.m-roja img, .violeta img, .rojo img, .colage img, .c-blanco img, .c-verde img {
  max-height: 400px;
  width: 100%;
  max-width: 400px;
  margin: 10px;
}

@media (min-width: 760px) {
  /*---------- media queries galeria 1-------------- */
  .galeria-1 {
    display: grid;
    align-items: flex-start;
    margin: 30px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "titulo felt-roja" "felt-azul trabajo" "cervelo trabajo" "desarme desarme";
    gap: 20px;
  }
  .presentacion {
    grid-area: titulo;
    margin: 0;
  }
  .presentacion h3 {
    font-size: 2.5rem;
  }
  .presentacion p {
    font-size: 1.5rem;
  }
  .alineacion {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .felt-roja, .felt-azul, .cervelo {
    grid-area: felt-roja;
  }
  .felt-azul {
    grid-area: felt-azul;
  }
  .trabajo {
    grid-area: trabajo;
    margin: 10px;
  }
  .cervelo {
    grid-area: cervelo;
  }
  .desarme {
    grid-area: desarme;
  }
  /*---------- media queries galeria 2-------------- */
  .galeria-2 {
    margin: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "m-roja presentacion" "c-verde c-blanco" "colage colage" "rojo violeta";
  }
  .galeria-2 .m-roja, .galeria-2 .c-verde, .galeria-2 .c-blanco, .galeria-2 .colage, .galeria-2 .rojo, .galeria-2 .violeta {
    grid-area: m-roja;
  }
  .galeria-2 .m-roja img, .galeria-2 .c-verde img, .galeria-2 .c-blanco img, .galeria-2 .colage img, .galeria-2 .rojo img, .galeria-2 .violeta img {
    max-width: 500px;
    max-height: 500px;
  }
  .galeria-2 .presentacion {
    grid-area: presentacion;
  }
  .galeria-2 .c-verde {
    grid-area: c-verde;
  }
  .galeria-2 .c-blanco {
    grid-area: c-blanco;
  }
  .galeria-2 .colage {
    grid-area: colage;
  }
  .galeria-2 .colage img {
    object-fit: cover;
  }
  .galeria-2 .rojo {
    grid-area: rojo;
  }
  .galeria-2 .rojo img {
    max-height: 450px;
    margin: 0%;
  }
  .galeria-2 .violeta {
    grid-area: violeta;
  }
  .galeria-2 .violeta img {
    max-height: 450px;
    margin: 0%;
  }
}
a {
  text-decoration: none;
  color: white;
  font-family: "Overpass";
}

/* estilos para las cajas contenedoras de cards*/
.contenedor-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* estilos para las cards de productos*/
.box {
  width: 260px;
  height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-style: outset;
  text-align: center;
  font-size: x-large;
  border-radius: 15px;
  box-shadow: 5px 5px 2px black;
  color: white;
}
.box img {
  object-fit: unset;
  width: 230px;
  height: 140px;
  border-radius: 15px;
}

/* lightbox sin abrir */
.lightbox {
  display: none;
}

/* lightbox abierto */
.lightbox:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenido de Lightbox */
.lightbox figcaption {
  position: relative;
  background: rgba(44, 37, 43, 0.674);
  background-size: cover;
  color: white;
}

/* Botón Cerrar */
.lightbox .close {
  position: relative;
  display: block;
}

.lightbox .close::after {
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  content: "×";
  cursor: pointer;
}

/* superposición Lightbox */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  cursor: default;
}

figcaption img {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 400px;
}

@media (max-width: 575px) {
  .lightbox figure {
    font-size: smaller;
  }
}
/*--------------------diseño instrucciones-----------------------*/
.ilustracion {
  width: 150px;
  height: 150px;
  mix-blend-mode: hard-light;
  border-radius: 15px;
}

.instrucciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  font-family: "Overpass";
}

.contenedor-compras {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-----------------------diseño preguntas frecuentes-----------------*/
.preguntas-frecuentes {
  mix-blend-mode: multiply;
  width: 80%;
}
.preguntas-frecuentes .titulo-pf {
  margin: 40px;
  color: rgb(12, 12, 77);
  text-align: center;
}

@media (min-width: 576px) {
  .contenedor-compras {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: large;
  }
}
@media (min-width: 700px) {
  .preguntas-frecuentes {
    width: 50%;
  }
}
/*-------------------------diseño formulario-------------------*/
.contacto {
  text-align: center;
  color: rgb(12, 12, 77);
}

main .contacto {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
  color: white;
  height: 100%;
  width: 90%;
  max-width: 900px;
  border: solid 2px;
  border-radius: 15px;
  font-family: "Overpass";
}

label {
  padding: 10px;
  font-size: x-large;
}

input {
  background-color: white;
}

select {
  background-color: white;
}

textarea {
  background-color: white;
}

.subtitulo {
  margin-top: 80px;
  text-align: center;
  font-family: "Overpass";
  color: white;
}

.noticias {
  display: flex;
  flex-direction: row;
}

@media (max-width: 576px) {
  .contacto label {
    font-size: medium;
  }
  input {
    font-size: medium;
  }
}
/*-------------------------diseño formulario----------------*/
.contenedor-registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Overpass";
}
.contenedor-registro .inicio, .contenedor-registro .registrarme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 20px;
  border: solid 2px white;
  border-radius: 15px;
}
.contenedor-registro label {
  color: white;
  margin: 20px;
  font-size: medium;
}

.titulo-registro {
  text-align: center;
  font-family: "Overpass";
  font-size: 2.5rem;
  color: white;
  margin: 40px;
  border: solid 2px;
  border-radius: 15px;
  box-shadow: 5px 2px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: rgba(233, 236, 239, 0.4274509804);
}

@media (min-width: 900px) {
  .inicio label, .registrarme label {
    font-size: x-large;
  }
}

/*# sourceMappingURL=style.css.map */
