/*--------------------diseño instrucciones-----------------------*/



.ilustracion{
    width: 150px;
    height: 150px;
    mix-blend-mode: hard-light;
    border-radius: 15px
}

.instrucciones{
    @include d-flex(column, center);
    text-align: center;
    margin-top: 50px;
    font-family: map-get($fuentes, secundaria );
}
.contenedor-compras{
    color:$c-secundario;
    @include d-flex (column,center);
}
/*-----------------------diseño preguntas frecuentes-----------------*/




.preguntas-frecuentes{
    mix-blend-mode: multiply;
    width: 80%;
    .titulo-pf{
        margin: 40px;
        color:$c-terciario;
        text-align: center;
    }
}


@media (min-width: 576px) {
    .contenedor-compras{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: large;
    }
    
}
@media (min-width:700px) {
    .preguntas-frecuentes{
        width: 50%;
    }
    
}

