.horario {
    text-align: center;
    color:$c-terciario;
}
main .contacto {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    color: $c-secundario;
    height: 100%;
    width: 90%;
    max-width: 900px;
    border:solid 2px ;
    border-radius: 15px;
    font-family: map-get($fuentes, secundaria );

}
label{
    padding: 10px;
    font-size: x-large;
}

.subtitulo{
    margin-top: 80px;
    text-align: center;
    font-family: map-get($fuentes, secundaria );
    color:$c-secundario;
}

.noticias{
    display:flex;
    flex-direction: row;
}
@media (max-width:576px) {
    .contacto label{
        font-size:medium;
    }
    input{
        font-size:medium ;
    }
    
    
}