/*------------------- bloque slogan e imagen ------------*/

.bloque-portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;

    .contenido {
        color: $c-secundario;
        text-align: center;
        font-family: lato;
        max-width: 600px;
    }

    .triatlon img {
        width: 100%;
        max-width: 600px;
        min-height: 150p
    }
}

@media (max-width:680px) {
    .contenido h3 {
        font-size: medium;

        h2 {
            font-size: medium;
        }
    }
}

@media (min-width:960px) {
    .bloque-portada {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/*-------------  tamaño de carrusel----------*/
.carrusel img {
    margin-top: 40px;
    width: 100%;
    height: 400px;
}

.carousel-indicators {
    margin-bottom: 0%;
}

.carousel-caption {
    padding-bottom: 0%;

    p {
        margin-bottom: 0%;
        font-weight: 300;
    }
    h2{
        margin-bottom: 0%;
        font-weight: 400;
    }
}
@media (max-width:400px) {
    .carousel-caption{
        font-size: x-small;
    }
}
@media (max-width:997px) {

    .carrusel img {
        height: 180px;

    }

}

/*-------diseño seccion cuotas------*/

.cuotas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 310px;
    height: 100px;
    color: white;
    margin: 20px;

    .numero h2 {
        font-size: 5rem;
        padding: 0%;
        margin: 0%;
    }

}

.informacion {
    text-align: center;
    font-family: map-get($fuentes, terciaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info-1 {
        font-size: 1.7rem;
        font-weight: 100;
        margin: 0;
        padding: 0%;
    }

    .info-2 {
        font-size: 1rem;
        padding: 0%;
        font-weight: 400;
        margin: 0%;
    }

    .info-3 {
        font-size: 0.7rem;
        font-weight: 100;
        padding: 0%;
        margin: 0%
    }

    .info-4 {
        font-size: 2rem;
        margin: 0%;
    }
}

.icono-cuotas {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-left: 10px
}

.variables {
    text-align: center;

    p {
        margin: 0%;
    }

    ;
}

.contenedor-cuotas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*-----------------------diseño indice ----------------*/
.centrado-opciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-opciones {
    position: relative;
    display: inline-block;
    margin: 10px;

    img {
        width: 100%;
        height: 100%;
        max-width: 310px;
        height: 310px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
            transition: 0.3s;
        }

    }

    &:hover p {
        transform: scale(1.1);
        transition: 0.3s;
    }
}

.texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
        color: $c-secundario;

    }
}

@media (min-width:1200px) {
    .contenedor-opciones img {
        min-width: 500px;
        height: 500px;
    }
}