
}

.cont figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}


.cont figure .capa .t-index {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
    margin-top: 30px;
}

.cont figure .capa p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.titulo-2 {
    @include titulo-2;
}

/* estilos para las cajas contenedoras de cards*/

.contenedor-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

/* estilos para las cards de productos*/
.box {
    width: 260px;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-style: outset;
    text-align: center;
    font-size: x-large;
    border-radius: 15px;
    box-shadow: 5px 5px 2px black;
    color: white;

    img {
        object-fit: unset;
        width: 230px;
        height: 140px;
        border-radius: 15px;
    }
}

/* lightbox sin abrir */
.lightbox {
    display: none;
}

/* lightbox abierto */
.lightbox:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenido de Lightbox */
.lightbox figcaption {
    position: relative;
    background:rgba(44, 37, 43, 0.674);
    background-size: cover;
    color: white;
}

/* Botón Cerrar */
.lightbox .close {
    position: relative;
    display: block;
}

.lightbox .close::after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    color: white;
    content: "×";
    cursor: pointer;
}

/* superposición Lightbox */
.lightbox .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    content: "";
    cursor: default;
}

figure img{
    width: 100%;
    max-width: 850px;
}


@media (max-width:575px) {
    .cont {
        display: none;
    }

    .lightbox figure{
        font-size: small;
}
}