
/*--------------------bloque historia--------------------*/


.titulo-quienes {
    @include titulo-2;
}


body {
    font-family: map-get($fuentes, secundaria);
}
.titulo-2 {
    @include titulo-2;
}

.taza {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        max-width: 400px;
    }
}

.historia p {
    text-align: left;
    margin: 10px;
    padding: 10px;
}

@media (min-width:900px) {
    .historia p {
        text-align: center;
        font-size: large;
    }
}

.parrafo-1 {
    text-align: center;
    color: white;
    padding: 24px;
    padding-top: 0;
}

.parrafo-2 {
    text-align: center;
    color: white;
    padding: 24px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    iframe {
        width: 100%;
        max-width: 560px;
    }
}

@media (max-width:560px) {
    .video iframe {
        height: 200px;
    }
}
/*---------------------------galeria 1---------------------*/

.galeria-1 img {
    border-radius: 15px;

}

.presentacion {
    background-color: #f8f9fa63;
    border-radius: 15px;
    font-family: map-get($fuentes, secundaria);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 400px;
    min-height: 180px;


    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

.presentacion:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


.alineacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;

}

.felt-roja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;

    &:hover img {
        transform: scale(1.1);
        transition: 0.5s;
    }



    img {
        max-height: 420px;
        width: 100%;
        max-width: 600px;
    }

}


.felt-azul {
    @extend .felt-roja;
}

.trabajo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;

    &:hover img {
        transform: scale(1.1);
        transition: 0.5s;
    }

    img {
        width: 100%;
        max-width: 600px;
        margin: 10px;
    }


}

.cervelo {
    @extend .felt-roja;
}

.desarme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;

    &:hover img {
        transform: scale(1.1);
        transition: 0.5s;
    }

    img {
        max-height: 410px;
        width: 100%;
        max-width: 1040px;
    }

}

@media (min-width:970px) {
    .desarme {
        margin: 15px;
    }

    .desarme img {
        width: 100%;
        max-width: 800px;
    }
}
@media (min-width:1200px) {
    .desarme img{
        max-width: 1000px;
    }
}
/*------------------------------galeria-2------------------------------*/


.galeria-2 img {
    border-radius: 15px;
}

.m-roja {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    &:hover img {
        transform: scale(1.1);
        transition: 0.5s;
    }

    img {
        max-height: 400px;
        width: 100%;
        max-width: 400px;
        margin: 10px;
    }
}

.c-verde {
    @extend.m-roja;
}

.c-blanco {
    @extend .m-roja;
}

.colage {
    @extend .m-roja;
}

.rojo {
    @extend.m-roja;
}

.violeta {
    @extend.m-roja;
}

@media (min-width:760px) {

    /*---------- media query galeria 1-------------- */
    .galeria-1 {
        display: grid;
        align-items: flex-start;
        margin: 30px;

        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
            "titulo felt-roja"
            "felt-azul trabajo"
            "cervelo trabajo"
            "desarme desarme";
        gap: 20px;
    }


    .presentacion {
        grid-area: titulo;
        margin: 0;

        h3 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }

    }

    .alineacion {
        display: flex;
        flex-direction: column;
        align-self: center;

    }

    .felt-roja {
        grid-area: felt-roja;

    }

    .felt-azul {
        grid-area: felt-azul;
    }

    .trabajo {
        grid-area: trabajo;
        margin: 10px;
    }

    .cervelo {
        grid-area: cervelo;

    }

    .desarme {
        grid-area: desarme;
    }

    /*---------- media query galeria 2-------------- */

    .galeria-2 {
        margin: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "m-roja presentacion"
            "c-verde c-blanco"
            "colage colage"
            "rojo violeta";


        .m-roja {
            grid-area: m-roja;

            img {
                max-width: 500px;
                max-height: 500px;
            }
        }

        .presentacion {
            grid-area: presentacion;
        }

        .c-verde {
            grid-area: c-verde;
        }

        .c-blanco {
            grid-area: c-blanco;
        }

        .colage {
            grid-area: colage;

            img {
                object-fit: cover;
            }
        }

        .rojo {
            grid-area: rojo;

            img {
                max-height: 450px;
                margin: 0%;
            }
        }

        .violeta {
            grid-area: violeta;

            img {
                max-height: 450px;
                margin: 0%;
            }
        }
    }
}