.titulo-quienes{
    @include titulo-2;
}

.imagen-salon{
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        max-width: 400px;
}
.parrafo-1{
    text-align: center;
    color: white;
    padding: 24px;
}

.parrafo-2{
    text-align: center;
    color: white;
    padding: 24px;
}
.video-somos{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        @include titulo-2;
    }

}

.mapa iframe {
    width: 100%;
    max-width: 1000px;

}

.galeria-1 img {
    border-radius: 15px;
    margin-top: 20px;
}

.presentacion {
    background-color: #f8f9fa63;
    border-radius: 15px;
    margin-top: 20px;
    font-family: map-get($fuentes, secundaria );
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 500px;
    min-height: 280px;
    h3 {
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
}




.alineacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.felt-roja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        max-height: 420px;
        width: 100%;
        max-width: 650px;
        margin: 10px;
    }

}


.felt-azul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        max-height: 510px;
        width: 100%;
        max-width: 650px;
        margin: 10px;
    }
}

.trabajo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        max-width: 650px;
        margin: 10px;
    }


}

.cervelo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        max-height: 510px;
        width: 100%;
        max-width: 650px;
        margin: 10px;
    }

}

.desarme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
        max-height: 410px;
        width: 100%;
        max-width: 1300px;
        margin: 10px;
    }

}

@media (min-width:760px) {
    .galeria-1 {
        display: grid;
        align-items: flex-start;
        margin-top: 20px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1/2fr 2fr;
        grid-template-areas:
            "titulo felt-roja"
            "felt-azul trabajo"
            "cervelo trabajo"
            "desarme desarme";
        gap: 10px;

    }

    .presentacion {
        grid-area: titulo;
        margin: 0;
        h3 {
            font-size: 2.5rem;
        }
        p{
            font-size: 1.5rem;
        }

    }

    .alineacion {
        display: flex;
        flex-direction: column;
        align-self: center;

    }

    .felt-roja {
        grid-area: felt-roja;
    }

    .felt-azul {
        grid-area: felt-azul;
    }

    .trabajo {
        grid-area: trabajo;
    }

    .cervelo {
        grid-area: cervelo;
    }

    .desarme {
        grid-area: desarme;
    }

}




