main .contacto {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    font-size: large;
    color: $c-secundario;

}

