
.registro {
    text-align: end;
    color: $c-secundario;

}


.navegador-largo {
    background-color: black;
    text-align: center;

    ul li {
        display: inline-block;
        padding: 10px;
        margin-left: 10px;
        font-family: map-get($fuentes, secundaria);
        font-size:x-large;
    }
}

.encabezado {
    background-color: hsla(0, 1%, 65%, 0.502);
}


.contenedor-1 {
    @include d-flex(column, center)
}

.contenedor-2 {
@include d-flex(column,center);
    justify-content: center;
    background-color: hsla(0, 1%, 65%, 0.498);
    background-size: cover;
}



.logo-titulo {
    @include d-flex(row,center );
    

    .logo {
        width: 100px;
        height: 100px;
        mix-blend-mode: multiply;
        @include animate(rotate,linear,3s,infinite);
        @include keyframes(rotate){from {transform: rotate(0deg)}to {transform: rotate(360deg)}};
    }

    .titulo-encabezado {
        @include d-flex(column,center );
        font-family: map-get($fuentes, primaria );
        @media (min-width:700px) {
            font-size: 4rem;
        }
    }

}

/* -----footer----- */
.foot {
    background-color: black;
    height: 180px;
    margin-top: 40px;

    .titulo-foot {
        margin: 20px;
    }

    .redes a i {
        text-decoration-color: $c-secundario;
        color: $c-secundario;
        font-size: 3rem;
    }
}

/* -----fin footer */



@media (min-width:576) {
    .carrusel img {
        height: 250px;
    }

}

@media (max-width:997px) {
    .nav-horizontal {
        display: none;
    }
    .registro{
        display: none;
    }
    .carrusel img {
        height: 180px;
    }

}


@media (min-width: 998px) {
    .menu-desplegable {
        display: none;
    }

    .contenedor {
        display: none;
    }

    .logo-titulo {
        height: 190px;
    }

    .titulo-encabezado {
        font-size: 4rem;
    }

    .encabezado {
        height: 300px;
    }

}